<form action="{{submissionUrl}}" method="post" onsubmit="processForm()">
    <h3>{{title}} API access request form</h3>
    System reference: <input type="text" name="reference" required>
    <br>Login ID: <input type="text" name="loginId" minlength="8" required>
    <br>Password: <input type="password" name="password" minlength="8" required>
    <br><br>
    <input id="submitButton" type="submit" value="Apply">
    <input type="reset" value="Clear">
</form>
<div id="message" style="display:none;">
    please contact {{title}} system administrator about your API access request
</div>

<script language="javascript">
    function processForm() {
        document.getElementById('submitButton').disabled = true;
        document.getElementById('message').style.display = 'block';
    }

</script>
