{
    "extends": [
        "eslint:recommended",
        "eslint-config-google",
        "plugin:node/recommended"
    ],
    "plugins": [
        "node"
    ],
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "jquery": true,
        "es6": true,
        "jasmine": true
    },
    "root": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "array-bracket-spacing": [
            "error",
            "never",
            {
                "singleValue": false,
                "arraysInArrays": false,
                "objectsInArrays": false
            }
        ],
        "block-spacing": [
            "warn",
            "always"
        ],
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "camelcase": "off",
        "comma-dangle": [
            "error",
            "never"
        ],
        "computed-property-spacing": [
            "error",
            "never"
        ],
        "eqeqeq": [
            "warn",
            "always"
        ],
        "guard-for-in": "off",
        "max-len": "off",
        "new-cap": [
            "error",
            {
                "capIsNewExceptions": [
                    "Router",
                    "Knex",
                    "Sequelize"
                ],
                "newIsCapExceptions": []
            }
        ],
        "newline-after-var": "off",
        "no-console": "off",
        "no-extra-semi": "error",
        "no-invalid-this": "off",
        "no-undef": "warn",
        "no-unneeded-ternary": "off",
        "no-unused-vars": "warn",
        "no-var": "off",
        "object-curly-spacing": [
            "error",
            "always",
            {
                "arraysInObjects": true,
                "objectsInObjects": true
            }
        ],
        "quotes": [
            "warn",
            "single"
        ],
        "require-jsdoc": "off",
        "semi": [
            "error",
            "always"
        ],
        "space-before-blocks": [
            "error",
            "always"
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-infix-ops": [
            "error"
        ],
        "strict": [
            "error",
            "safe"
        ],
        "node/exports-style": "off",
        "node/no-unsupported-features": "off",
        "node/no-unpublished-require": "off"
    }
}
